body {
    font-size: 1rem;
    display: flex;
    margin: 5vh;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 0;
    background:rgb(240, 228, 216); /* Dein Bild-URL hier */
    background-size: 100%; /* Passt das Bild so an, dass es die gesamte Fläche ausfüllt */
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
    background-position: center; /* Zentriert das Bild auf der Fläche */
}

.neustart {
    margin-top:  10vh;
    position: absolute;
    padding: 15px;
    font-size: 2.5rem;
    color: rgb(230, 201, 169);
    background-color:rgb(31, 19, 5);
    border: none;
    border-radius: 100px;
    transform: translate(-50%, -50%);
    transition: 0.1s ease;
}

.neustart:hover {
    padding: 16.5px;
    font-size: 2.65rem;
}


table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}


td {
    
    width: 7.8vh;
    height: 7.8vh;
    text-align: center;
    
}

img {
    height: 7vh;
}

th {
    background-color: grey;
}

.white {
    background-color:rgb(230, 201, 169);
    color:rgb(36, 16, 8);
    color: black;
    width: 8vh;
    height: 8vh;
}

.black {
    background-color:rgb(31, 19, 5);
    color: white;
    width: 8vh;
    height: 8vh;
}

.darker_background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    background: rgba(0, 0, 0, 0.5); 
    animation: fadeIn 1s ease-in-out forwards;
}

.you_won {
    width: 80vh; 
    height: 80vh; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: white; 
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 2rem; 
    color: black; 
    text-align: center; 
    animation: slideIn 1.5s ease-in-out forwards;
    flex-direction: column;
}


.white_check {
    width: 7vh;
    height: 7vh;
    animation: white_alarm 1s infinite;
}

.black_check {
    width: 7vh;
    height: 7vh;
    animation: black_alarm 1s infinite;
}

@keyframes black_alarm {
    0% {
        background: radial-gradient(circle, red 0%, rgb(31, 19, 5) 100%);
    }
    4% {
        background: radial-gradient(circle, red 2%, rgb(31, 19, 5) 98%);
    }
    8% {
        background: radial-gradient(circle, red 4%, rgb(31, 19, 5) 96%);
    }
    12% {
        background: radial-gradient(circle, red 6%, rgb(31, 19, 5) 94%);
    }
    16% {
        background: radial-gradient(circle, red 8%, rgb(31, 19, 5) 92%);
    }
    20% {
        background: radial-gradient(circle, red 10%, rgb(31, 19, 5) 90%);
    }
    24% {
        background: radial-gradient(circle, red 12%, rgb(31, 19, 5) 88%);
    }
    28% {
        background: radial-gradient(circle, red 14%, rgb(31, 19, 5) 86%);
    }
    32% {
        background: radial-gradient(circle, red 16%, rgb(31, 19, 5) 84%);
    }
    36% {
        background: radial-gradient(circle, red 18%, rgb(31, 19, 5) 82%);
    }
    40% {
        background: radial-gradient(circle, red 20%, rgb(31, 19, 5) 80%);
    }
    44% {
        background: radial-gradient(circle, red 18%, rgb(31, 19, 5) 82%);
    }
    48% {
        background: radial-gradient(circle, red 16%, rgb(31, 19, 5) 84%);
    }
    52% {
        background: radial-gradient(circle, red 14%, rgb(31, 19, 5) 86%);
    }
    56% {
        background: radial-gradient(circle, red 12%, rgb(31, 19, 5) 88%);
    }
    60% {
        background: radial-gradient(circle, red 10%, rgb(31, 19, 5) 90%);
    }
    64% {
        background: radial-gradient(circle, red 8%, rgb(31, 19, 5) 92%);
    }
    68% {
        background: radial-gradient(circle, red 6%, rgb(31, 19, 5) 94%);
    }
    72% {
        background: radial-gradient(circle, red 4%, rgb(31, 19, 5) 96%);
    }
    76% {
        background: radial-gradient(circle, red 2%, rgb(31, 19, 5) 98%);
    }
    80% {
        background: radial-gradient(circle, red 0%, rgb(31, 19, 5) 100%);
    }
    100% {
        background: radial-gradient(circle, red 0%, rgb(31, 19, 5) 100%);
    }
}

@keyframes white_alarm {
    0% {
        background: radial-gradient(circle, red 0%, rgb(230, 201, 169) 100%);
    }
    4% {
        background: radial-gradient(circle, red 2%, rgb(230, 201, 169) 98%);
    }
    8% {
        background: radial-gradient(circle, red 4%, rgb(230, 201, 169) 96%);
    }
    12% {
        background: radial-gradient(circle, red 6%, rgb(230, 201, 169) 94%);
    }
    16% {
        background: radial-gradient(circle, red 8%, rgb(230, 201, 169) 92%);
    }
    20% {
        background: radial-gradient(circle, red 10%, rgb(230, 201, 169) 90%);
    }
    24% {
        background: radial-gradient(circle, red 12%, rgb(230, 201, 169) 88%);
    }
    28% {
        background: radial-gradient(circle, red 14%, rgb(230, 201, 169) 86%);
    }
    32% {
        background: radial-gradient(circle, red 16%, rgb(230, 201, 169) 84%);
    }
    36% {
        background: radial-gradient(circle, red 18%, rgb(230, 201, 169) 82%);
    }
    40% {
        background: radial-gradient(circle, red 20%, rgb(230, 201, 169) 80%);
    }
    44% {
        background: radial-gradient(circle, red 18%, rgb(230, 201, 169) 82%);
    }
    48% {
        background: radial-gradient(circle, red 16%, rgb(230, 201, 169) 84%);
    }
    52% {
        background: radial-gradient(circle, red 14%, rgb(230, 201, 169) 86%);
    }
    56% {
        background: radial-gradient(circle, red 12%, rgb(230, 201, 169) 88%);
    }
    60% {
        background: radial-gradient(circle, red 10%, rgb(230, 201, 169) 90%);
    }
    64% {
        background: radial-gradient(circle, red 8%, rgb(230, 201, 169) 92%);
    }
    68% {
        background: radial-gradient(circle, red 6%, rgb(230, 201, 169) 94%);
    }
    72% {
        background: radial-gradient(circle, red 4%, rgb(230, 201, 169) 96%);
    }
    76% {
        background: radial-gradient(circle, red 2%, rgb(230, 201, 169) 98%);
    }
    80% {
        background: radial-gradient(circle, red 0%, rgb(230, 201, 169) 100%);
    }
    100% {
        background: radial-gradient(circle, red 0%, rgb(230, 201, 169) 100%);
    }
}


.border {
    color: rgb(230, 201, 169);
    background-color:rgb(31, 19, 5);
    height: 30px;
    width: 30px;
}

.win_vid {
    position: relative;
    width: 80%;
    overflow: hidden;
}

.invis {
    background: transparent; /* Hintergrund unsichtbar */
    border: none; /* Kein Rahmen */
    cursor: default; /* Zeigt den Zeiger (Hand) bei Hover */
    width: 7.8vh;
    height: 7.8vh;
}
.invis_active {
    background: transparent; /* Hintergrund unsichtbar */
    border: none; /* Kein Rahmen */
    cursor: default; /* Zeigt den Zeiger (Hand) bei Hover */
    width: 7.8vh;
    height: 7.8vh;
    transition: 0.2s;
}

.invis_active:hover {
    transform: scale(1.15);
}

.overlay {
    position: absolute;
    width: 50px; /* Feste Breite */
    height: 50px; /* Feste Höhe */
    border-radius: 25px; /* Runde Ecken */
    background-color: rgba(76, 175, 80, 0.7); /* Halbdurchsichtiger Hintergrund */
    justify-content: center;
    align-items: center;
    transform: translate(24%, -115%); /* Exakte Zentrierung */
    transition: 0.2s;
}

.overlay:hover {
    position: absolute;
    width: 55px; /* Feste Breite */
    height: 55px; /* Feste Höhe */
    border-radius: 27.5px; /* Runde Ecken */
    background-color: rgba(76, 175, 80, 0.7); /* Halbdurchsichtiger Hintergrund */
    justify-content: center;
    align-items: center;
    transform: translate(7.5%, -105%); /* Exakte Zentrierung */
}
